<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <% include ../partials/header %>
</head>
<body>
  <% include ../partials/navigation %>
<center>
  <div class="container">
    <div class="card card-primary">
      <div class="card-body">
        <div class="card-text">
          <form class="create-form" action="/login" method="post">
            <h1>Login</h1>
            <br>
            <br>
            <div class="form-group row mb-2">
              <div class="col col-md-12">
                <div class="row">
                  <label class="col-form-label" for="email">
                    Email ID
                  </label>
                </div>
                <div class="row">
                  <input type="text" id="email" name="email" class="form-control"
                    <% if(typeof user !== 'undefined') {%> value="<%= user.email %>" <% } %>
                    placeholder="Enter Email ID" required="">
                  <% if(typeof emailErr !== 'undefined') {%>
                  <span class="err"><%= emailErr.msg %> </span>
                  <% } %>
                </div>
              </div>
            </div>

            <div class="form-group row mb-2">
              <div class="col col-md-12">
                <div class="row">
                  <label class="col-form-label" for="password">
                    Password
                  </label>
                </div>
                <div class="row">
                  <input type="password" id="password" name="password" class="form-control"
                    <% if(typeof user !== 'undefined') {%> value="<%= user.password %>" <% } %>
                    placeholder="Enter Password" required="">
                  <% if(typeof passwordErr !== 'undefined') {%>
                  <span class="err"><%= passwordErr.msg %> </span>
                  <% } %>
                </div>
              </div>
            </div>
            <p>Don't have an account? Then, <a href="/signup">Sign Up</a> first.</p> 

            <div class="form-group row mb-2">
              <div class="col col-md-12">
                <div class="row" style="justify-content: flex-end;">
                  <button class="btn btn-sm btn-primary" type="submit">Sign In</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</center>
</body>
<% include ../partials/footer %>
</html>